:root {
  --alignment: 716px;
  --purple: #2E0039;
}

.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 5px gray;
}

.headerGroup {
  justify-content: start;
  align-items: center;
  display: flex;
  height: 48px;
  width: var(--alignment);
}

.title {
  font-size: 20px;
  font-weight: 900;
  margin: 0;
}

.headerImg {
  margin-right: 30px;
  height: inherit;
  width: 32px;
  height: 32px;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 39px;
  background-color: var(--purple);
}

.footerElem {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  margin-left: 20px;
  margin-right: 20px;
}