:root {
  --alignment: 80vw;
  --purple: #2E0039;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 5px gray;
}

.headerGroup {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  height: 48px;
  width: var(--alignment);
}

.title {
  font-size: 20px;
  font-weight: 900;
  margin: 0;
}

.headerImg {
  margin-right: 30px;
  height: inherit;
  width: 32px;
  height: 32px;
}


.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.convert {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 2px 5px gray;
  margin-top: 50px;
  width: var(--alignment);
  background-color: var(--purple);
  padding: 40px;
}

.convert p {
  color: white;
  font-weight: 600;
  font-size: 24px;
  margin: 0;
}

.inputAndSelect {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.selectDiv {
  display: flex;
  justify-content: space-between;
  width: 277px;
}

.select {
  width: 158px;
  background-color: transparent;
  color: white;
  border: 0;
  border-bottom: 2px solid;
  border-color: white;
  outline: transparent;
}

option {
  background-color: var(--purple);
}

.exchangeImg {
  width: 20px;
}

.inputDiv {
  display: flex;
  justify-content: space-between;
}

.input {
  margin-right: 20px;
  background-color: transparent;
  color: white;
  border: 0;
  border-bottom: 2px solid;
  border-color: white;
  text-align: end;
  outline: transparent;
}

.resultDiv {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 692px) {
  .resultDiv {
    max-width: 277px;
  }

  .convert {
    padding: 10px;
  }
}

@media only screen and (max-width: 340px) {
  .selectDiv {
    max-width: 256px;
  }

  .input {
    width: 150px;
  }

  .resultDiv {
    max-width: 256px;
  }
}


.saved {
  width: var(--alignment);
  height: 180px;
}

.savedTitle {
  color: dimgray;
  font-weight: bold;
  font-size: 16px;
}

.savedDiv {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

.savedBox {
  display: flex;
  background-color: lightgray;
  border-radius: 5px;
  justify-content: space-around;
  height: 40px;
  align-items: center;
}

.deleteImg {
  width: 10px;
}



.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 39px;
  background-color: var(--purple);
}

.footerElem {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  margin-left: 20px;
  margin-right: 20px;
}